<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Shaale Namma Pride"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- LOGIN PAGE (ENTRY POINT) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- WELCOME PAGE -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="false"/>

        <!-- HOME PAGE -->
        <activity
            android:name=".HomeActivity"
            android:exported="false"/>

        <!-- MODULE PAGES -->
        <activity android:name=".InfrastructureActivity" android:exported="false"/>
        <activity android:name=".MealsActivity" android:exported="false"/>
        <activity android:name=".ProgressActivity" android:exported="false"/>
        <activity android:name=".FeedbackActivity" android:exported="false"/>

    </application>

</manifest>